name: Build and Push to Docker Hub + GHCR

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      packages: write  # required for pushing to GHCR
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Login to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    # Login to GitHub Container Registry (GHCR)
    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.GH_USERNAME }}
        password: ${{ secrets.GH_TOKEN }}

    - name: Extract tag version
      id: extract_tag
      run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    ### FRONTEND IMAGE ###
    - name: Build & Push Frontend Image (Docker Hub + GHCR)
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          timlohrer/auth-rs-frontend:${{ steps.extract_tag.outputs.VERSION }}
          timlohrer/auth-rs-frontend:latest
          ghcr.io/timlohrer/auth-rs-frontend:${{ steps.extract_tag.outputs.VERSION }}
          ghcr.io/timlohrer/auth-rs-frontend:latest
        labels: |
          org.opencontainers.image.source=https://github.com/timlohrer/auth-rs

    ### BACKEND IMAGE ###
    - name: Build & Push Backend Image (Docker Hub + GHCR)
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        file: ./backend/Dockerfile
        push: true
        tags: |
          timlohrer/auth-rs-frontend:${{ steps.extract_tag.outputs.VERSION }}
          timlohrer/auth-rs-frontend:latest
          ghcr.io/timlohrer/auth-rs-frontend:${{ steps.extract_tag.outputs.VERSION }}
          ghcr.io/timlohrer/auth-rs-frontend:latest
        labels: |
          org.opencontainers.image.source=https://github.com/timlohrer/auth-rs
